.todoWrap {
	min-width: 200px;
	border: 1px solid black;
	padding: 20px;
	max-width: 350px;
	margin: 30px 60px;
	background: #d6e2ef;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	min-height: 300px;
}

.taskList li {
	list-style: none;
	display: flex;
	gap: 10px;
}

.taskList span {
	flex: 1 1 auto;
}

.taskList {
	display: flex;
	flex-direction: column;
	gap: 10px;
	flex: 1 1 auto;
}

.wrapForInputBtn {
	display: flex;
	margin: 0 auto;
	width: 185px;
	height: 40px;
}

.errorText {
	color: red;

}

.btns {
	display: flex;
	justify-content: center;
	gap: 10px;
	border: 1px solid black;
	padding: 20px;
	border-radius: 10px;
	background-color: #c6cbd0;

}

.button {
	padding: 4px 10px;
	border-radius: 5px;
}

.checked {
	text-decoration: line-through;
	opacity: 0.5;
}

.activeColor {
	background: #f65a3e;
}

.completedColor {
	background: #a0c6ee;
}

.buttonAllColor {
	border: 2px solid transparent;
	background: #9587d8;
}

.buttonCompColor {
	border: 2px solid transparent;
	background: #9587d8;
}

.buttonActiveColor {
	border: 2px solid transparent;
	background: #9587d8;
}